version: '2.2'

services:
  web:
    build:
      context: .
    command: ['bin/rails', 'server', '-b', '0.0.0.0']
    ports:
      - '3000:3000'
    environment:
      - PUBSUB_EMULATOR_HOST=pubsub:8681
    volumes:
      - ./:/usr/src/app
    depends_on:
      - pubsub

  worker:
    build:
      context: .
    command: ['bin/rails', 'worker:run']
    environment:
      - PUBSUB_EMULATOR_HOST=pubsub:8681
    volumes:
      - ./:/usr/src/app
    depends_on:
      - pubsub

  pubsub:
    image: messagebird/gcloud-pubsub-emulator:latest
    environment:
      - PUBSUB_PROJECT1=kisi-code-challenge,general_jobs_queue:general_jobs_queue_subscription
    ports:
      - '8681:8681'
